
circle {
  fill-opacity: .25;
/**  fill: rgb(31, 119, 180);
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
	*/
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}
.leaf1 circle {
  fill: #007f0e;
  fill-opacity: 1;
}
.leaf2 circle {
  fill: #ff7f00;
  fill-opacity: 1;
}
.leaf circle {
  fill: #ff000e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}
